@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;font-family: 'Ibarra Real Nova', serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0.1) inset !important;
  box-shadow: 0 0 0 1000px rgba(255,255,255,0.1) inset !important;

  -webkit-text-fill-color: black !important;

  border-radius: 12px;
}